/* temp sizing for all pics of food */
.info{
  height:250px;
  width:300px;
}

.info:hover{
  height: 400px;
  width: 550px;
}

/* background image for resturant not to dark shows food */
body {
  background-image: url("./burgerSitePics/background2.jpg");
  background-repeat: no-repeat;
  background-size: 100% cover;
}

/* burger sign pic at top of page needs space around it */
.logo{
  height: 300px;
  width: 70%;
  opacity: .7;
}

/* spacing for links */
/* justify content is not taking two values? but works when its used twice as such */
.flexContainer1{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

/* spacing for the logo */
.flexContainer2{
  margin-bottom: 100px;
  display: flex;
  justify-content: center;

}

/* moves div for burgers, soda, deserts to right side of page  */
.foodContainer1, .foodContainer3{
  display:flex;
  flex-direction: row-reverse;
  margin-bottom:15%;
  margin-left: 25px;
}

/* moves div for chicken and fries to left  */
.foodContainer2{
  display:flex;
  flex-direction: row;
  margin-bottom:15%;
  margin-right: 25px;
}

/* spacing around and between burgers and soda/desert div */
.burgers, .soda, .desert{
  margin-left: 10%;
}

/* spacing around and between chicken/ fries div */
.chicken, .fries{
 margin-right: 10%;
}

